<!DOCTYPE html>
<html lang="en" ng-app="ngInstagram">
<head>
	<meta charset="UTF-8">
	<title>ng-Instagram</title>
	<link rel="stylesheet" href="css/styles.css">
	<script src="angular/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="appController">
	<header>
		<img src="images/ng-instagram.png" alt="Instagram Searcher">
	</header>
	<section class="search-section">
		<input type="text" placeholder="Enter a tag to search" ng-model="tag">
		<input class="btn" type="button" value="Submit"
		ng-click="getRecentTags()">
	</section>
	<section class="results-section">
		<p id="result-description"
		ng-model="resultDescription"></p>
		<div ng-repeat="result in results">
			<img ng-src="{{result.images.low_resolution.url}}" alt="">
		</div>
	</section>
</body>
</html>